services:
  mysql:
    container_name: chitchat-storage
    image: mysql:latest
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USERNAME}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    ports:
      - "${DB_PORT}:3306"
    profiles:
      - dev
      - full
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      timeout: 10s
      retries: 10

  # database:
  #   image: mysql:8
  #   container_name: chitchat-storage
  #   ports:
  #     - "${DB_PORT}:3306"
  #   restart: always
  #   # command: ['--mysql-native-password', '--socket=/tmp/mysql.sock']
  #   env_file:
  #     - .env
  #   environment:
  #     MYSQL_USER: ${DB_USERNAME}
  #     MYSQL_PASSWORD: ${DB_PASSWORD}
  #     MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
  #   volumes:
  #     - ./storage/dev-dump:/docker-entrypoint-initdb.d
  #     - mysql_data_volume:/var/lib/mysql:z
  #   profiles:
  #     - full
  #   healthcheck:
  #     test: ['CMD', 'mysql', '-h', '127.0.0.1', '-uroot', '--password=dbadmin', '-e', '"SELECT VERSION();SELECT NOW();"']
  #     start_period: 30s
  #     interval: 10s
  #     timeout: 5s
  #     retries: 10

  redis:
    container_name: chitchat-cache
    image: 'redis:alpine'
    restart: always
    command: redis-server --requirepass ${CACHE_PASSWORD}
    hostname: redis
    ports:
      - "${CACHE_PORT}:6379"
    profiles:
      - dev
      - full

  rabbitmq:
    container_name: chitchat-queue
    image: rabbitmq:management
    restart: always
    hostname: rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: ${QUEUE_USER}
      RABBITMQ_DEFAULT_PASS: ${QUEUE_PASSWORD}
    ports:
      - "${QUEUE_PORT}:5672"
      - "${QUEUE_MANAGEMENT_PORT}:15672"
    volumes:
      - ./rabbitmq/rabbitmq.conf:/etc/rabbitmq/rabbitmq.conf
      - ./rabbitmq/rabbitmq.definitions.json:/etc/rabbitmq/definitions.json
      - ./rabbitmq/data:/var/lib/rabbitmq/mnesia/rabbit@my-rabbit
      - ./rabbitmq/logs:/var/log/rabbitmq/log
    profiles:
      - dev
      - full

  elasticsearch:
    container_name: chitchat-search
    image: docker.elastic.co/elasticsearch/elasticsearch:7.17.4
    environment:
      - cluster.name=chitchat-cluster
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
      - discovery.type=single-node
      - xpack.security.enabled=false
      - xpack.monitoring.enabled=false
      - xpack.graph.enabled=false
      - xpack.watcher.enabled=false
      - ELASTIC_PASSWORD=${SEARCH_PASSWORD}
      - http.port=9200
      - transport.tcp.port=9300
      - network.host=0.0.0.0
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - ./elasticsearch/data:/usr/share/elasticsearch/data
    ports:
      - "${SEARCH_PORT}:9200"
    profiles:
      - full

  chitchat-api:
    container_name: chitchat-api
    build: .
    image: chitchat-api:1.0
    depends_on:
      mysql:
        condition: service_healthy
    volumes:
      - .:/chitchat-api
    ports:
      - "${API_PORT}:3000"
    env_file:
      - .env
    environment:
      - DB_HOST=chitchat-storage
      - DB_PORT=3306
    profiles:
      - full

volumes:
  mysql_data_volume:
    